<li>
			  <%= f.text_area :description, :cols => 80, :rows => 5, :class => "step_field" %>
			  <%= f.hidden_field :_destroy, :class => "delete_step" %>
			  <%= link_to "Remove", "#", :class => "remove_fields" %>
</li>